$break-mobile: 22.438em; // 359px
$break-mobile-land: 32em; // 512px
$break-tablet: 40.063em; // 641px
$break-desktop: 50em; // 800px
$break-desktop-mini: 55em; // 880px
$break-desktop-med: 64.063em; // 1025px
$break-mobile-nav: 68.125em; // 1090px
$break-desktop-wide: 75em; // 1200px
$break-desktop-wider: 83.75em; // 1340px
$break-desktop-xl: 88em; // 1408px

$black: #000;
$white: #fff;
$grey: #e4e4e4;
$light-grey: #f5f5f5;
// $darkgrey: #c8c8c8;

$lightest-green: #eafbf1;
$light-green: #94eab8;
$green: #20a056;
$dark-green: #156a39;
$darkest-green: #082b17;

// "Sky Blue - Roundtable"
$sky-blue: #19bbee;

//  "Lime - BEC Circular Transition"
$lime: #b4f723;

// "Blue - Innovation & Technology Theatre"
$blue: #2f32f5;

// "Rust - Sustainable Finance & Supply Chains Theatre"
$rust: #e5593f;

// "Gold - People & Purpose Theatre"
$gold: #edb71a;

// "Purple - Sustainable Buildings & Facilities Theatre"
$purple: #69089e;

// "Pink - Change Makers Stage"
$pink: '#e97193';

// light-green
// green
// dark-green
// grey
// light-grey
// sky-blue : Sky Blue - Roundtable
// lime : Lime - BEC Circular Transition
// blue : Blue - Innovation & Technology Theatre
// rust : Rust - Sustainable Finance & Supply Chains Theatre
// gold : Gold - People & Purpose Theatre
// purple : Purple - Sustainable Buildings & Facilities Theatre
// pink : Pink - Change Makers Stage

// Net Zero & Nature Positive Theatre (Keynote)
// ReThink Roundtables
// BEC Circular Transition Theatre
// Innovations and Technology Theatre
// People and Purpose Theatre
// Sustainable Buildings and Facilities Theatre
// Sustainable Finance & Supply Chains Theatre
// Change Makers Stage
// Workshop A
// Workshop B
// Workshop C
// Workshop D

// THE OLD
// susTrans : Sustainable Transformation Theatre
// bec : BEC Sustainable Business Theatre
// susPart : Sustainable Partnerships Theatre
// susRes : Sustainable Resources Theatre
// susCom : Sustainable Communities Theatre
// change : Change Makers Stage
// futureLeaders : Future Leaders Stage
// workshop1 : Workshop 1
// workshop2 : Workshop 2
// workshop3 : Workshop 3
// workshop4 : Workshop 4

// THE NEW
// keynote : Net Zero & Nature Positive Theatre (Keynote)
// roundtable : ReThink Roundtables
// bec : BEC Circular Transition Theatre
// innovation : Innovations and Technology Theatre
// people : People and Purpose Theatre
// buildings : Sustainable Buildings and Facilities Theatre
// finance : Sustainable Finance & Supply Chains Theatre
// change : Change Makers Stage
// workshop-a : Workshop A
// workshop-b : Workshop B
// workshop-c : Workshop C
// workshop-d : Workshop D
